<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>HOME</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        button {
            background-color: #1e90ff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Bienvenido a Reservaciones Hotel- CL2 Galarza</h1>
    <button onclick="location.href='/reservacion/registrar'">Reservar</button>
</body>
</html>
